#environment
NODE_ENV=development

# Google Sign-In
EXPO_PUBLIC_IOS_ID=
EXPO_PUBLIC_ANDROID_ID_DEV=
EXPO_PUBLIC_ANDROID_ID_PROD=
EXPO_PUBLIC_WEB_ID=
EXPO_PUBLIC_SECRET_KEY=
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=
EXPO_PUBLIC_LOG=
GOOGLE_CLIENT_SECRET=
# Keystore
KEYSTORE_PATH=
KEYSTORE_PASSWORD=
KEY_ALIAS=
KEY_PASSWORD=

# EAS
EAS_PROJECT_ID=

#STRIPE TEST
PUBLISH_KEY_TEST=
STRIPE_SECRET_KEY_TEST=
PRICE_ID_TEST=

# STRIPE REAL
PRICE_ID=
PUBLISH_KEY=
STRIPE_SECRET_KEY=

# BASE URL ENVIRONMENT
EXPO_PUBLIC_BASE_URL_DEV=
EXPO_PUBLIC_BASE_URL_PROD=

    

